* {
    margin: 0;
    box-sizing: border-box;
}
.flex {
    display: flex;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
nav {
    justify-content: space-between;
    flex-grow: .2;
}
a {
    text-decoration: none;
    color: black;
}
.btn {
    background-color: transparent;
    border: none;
}