* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin-top: 2%;
}
.flex {
    display: flex;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
nav {
    justify-content: space-between;
    flex-grow: .2;
}
main {
    display: flex;
    margin-top: 80px;
}
.div5 {
    justify-content: space-around;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: black;
    font-family: Evelynn;
    font-weight: 400;
font-size: 20px;
line-height: 26px;
}
.btn {
    background-color: transparent;
    border: none;
}
.btn1 {
    font-family: Camille;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}
.text1 {
    color: #398495;
    font-family: Evelynn;
font-weight: 400;
font-size: 28px;
line-height: 36px;
}
.text3 {
    font-family: monospace;
font-weight: 400;
font-size: 72px;
line-height: 72px;
}
.bibta {
gap: 15px;
}
.content-btw {
    justify-content: space-between;
}

p {
    font-family: Camille;
    font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
}
.direction-column {
    flex-direction: column;
}
.content-center {
    justify-content: center;
    flex-grow: .5;
}
.buttons {
    flex-grow: .2;
    justify-content: space-between;
}
.links1 {
    justify-content: space-between;
    gap: 10px;    
}
.fotki {
    display: flex;
}
.btn1 {
    background-color: #3BB372;
    color: white;
    margin: -10px -20px -10px -10px;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    font-family: Evelynn;
    font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 6px;
}
.absolute {
    position: absolute;
}
.rec1 {
    top: 0px;
    left: 0px;
    z-index: -1;
}
.rec8 {
    z-index: -1;
    top: 0;
    left: 63%;
    transform: translate(-50%);
}
.rec9 {
    z-index: -1;
    top: 40px;
    right: 2%;
    transform: translate(2%);
}
.rec2 {
    z-index: -1;
    left: 55%;
    transform: translate(-50%);
}
.rec7 {
    z-index: -1;
    top: 434px;
    left: 6%;
}
.rec11 {
    z-index: -1;
    top: 670px;
    right: 25%;
    transform: translate(50%);
}
.btn2 {
    color: #1F1F1F;
    margin: -10px -10px -10px -20px;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    border: 2px solid;
    font-family: Evelynn;
    font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 6px;
}
.btn6 { 
    color: white;
    background-image: url(Rectangle\ 5.png);
    margin: -10px -10px -10px -20px;
    padding: 10px 10px 10px 20px;
    font-family: Evelynn;
    font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 6px;
}


@font-face {
    font-family: Evelynn;
    src: url(nawwor/PTSansNarrow-Bold.ttf);
}
@font-face {
    font-family: Camille;
    src: url(suplhut/SulphurPoint-Bold.ttf);
}